body,
html {
  scroll-behavior: smooth;
  /* 點擊導航欄時，屏幕緩慢滑動 */
}

::-webkit-scrollbar {
  display: none;
  /* 隱藏滾動條，爲了美觀 */
}

body,
html,
h1,
p,
ul,
div,
a {
  padding: 0;
  /* 移除内間距 */
  margin: 0;
  /* 移除外間距 */
  text-decoration: none;
  /* 移除下劃綫 */
}

h1,
p,
a {
  color: rgb(255, 255, 255);
  /* 字統一白色 */
  font-family: 'Noto Sans TC', sans-serif;
  /* 字體，為了美觀 */
}

/* Mobile Phone導航欄開關按鈕 */
#menu-on,
#menu-off {
  position: fixed;
  /* 固定在同一位置 */
  right: 0;
  /* 字統一白色 */
  padding: 2vh;
  background-color: rgba(53, 53, 53, 0.911);
  z-index: 3;
  height: 3vh;
  display: none;
}

/* 導航欄背景 */
header {
  width: 100%;
  background-color: rgba(53, 53, 53, 0.911);
  position: absolute;
  top: 0;
  z-index: 0;
}

/* 導航欄圖標 */
.header-icon {
  float: left;
  height: 40px;
  margin: 25px 0 0 25px;
}

/* 導航欄水平倒轉排列及去除list樣式 */
header ul {
  display: flex;
  flex-direction: row-reverse;
  list-style-type: none;
}

/* 導航欄鏈接 */
header a {
  display: block;
  padding: 32px;
  transition: all 0.7s;
}

/* 導航欄鼠標在上面是背景及字體轉顔色 */
header a:hover {
  background-color: rgb(255, 255, 255);
  color: rgba(53, 53, 53, 0.911);
}

/* 導航欄在指定頁面時導航欄相對應的按鈕顯示不同顔色 */
.btn-active {
  background-color: rgb(255, 255, 255);
  color: rgba(53, 53, 53, 0.911);
}

/* HOME背景 */
#bg {
  width: 100%;
  height: 100vh;
  background-image: url(../img/SOURCE/bg.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  z-index: -1;
}

/* HOME標題 */
#web-title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 35vh;
  color: white;
  text-shadow: 3px 2px 0 rgb(54, 54, 54);
}

#web-title h1 {
  font-size: 100px;
}

#web-title p {
  font-size: 30px;
}

/* 主要内容 */
#main {
  display: flex;
}

/* 右側内容 */
#body {
  width: 100%;
  flex-shrink: 2;
}

/* 側邊欄底 */
#sidebarbg {
  width: 420px;
  float: left;
  flex-shrink: 1;
}

/* 左側邊欄 */
#sidebar {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  text-align: center;
  background-image: linear-gradient(to bottom,
      rgb(22, 22, 22) 60%,
      rgba(22, 22, 22, 0.836)),
    url(../img/SOURCE/sidebar_bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* 側邊欄LOGO */
#sidebar img {
  width: 60%;
  margin-top: 65px;
}

/* 側邊欄導航 */
#sidebar ul {
  margin-top: 65px;
}

/* 側邊欄鏈接 */
#sidebar a {
  width: 80%;
  display: flex;
  text-align: left;
  font-size: small;
  font-weight: bold;
  padding: 5px 0 5px 20%;
  transition: all 0.5s;
}

#sidebar a:hover {
  color: rgb(58, 68, 42);
  background-color: white;
}

/* 右側頁面 */
#RELAX,
#STUDY,
#CAT_DOG,
#ABOUT {
  width: 100%;
  background-color: rgb(70, 70, 70);
  float: right;
}

/* 右側頁面 */
#relax-content,
#study-content,
#cat_dog-content,
#about-content {
  width: 80%;
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* relax */
/* relax用flex顯示專輯 */
#relax-list,
#study-list {
  margin-top: 40px;
  gap: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#cat_dog-list {
  margin-top: 40px;
  gap: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* 專輯的按鈕鏈接 */
#relax-list>a,
#study-list>a {
  width: 30%;
  height: 300px;
}

#cat_dog-list>a {
  width: 21%;
}

/* 文字居中 */
.relax_data,
.study_data,
.cat_dog_data {
  text-align: center;
}

.cat_dog_data {
  margin-bottom: 50px;
}

/* 影片封面 */
.relax_img,
.study_img {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: all 0.5s;
  border: solid white 1px;
}

.cat_dog_img {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: all 0.5s;
  border: solid white 1px;
}

/* 專輯名字 */
.relax_name,
.study_name {
  font-size: 18px;
  margin-top: 8px;
  transition: color 0.5s;
}

/* 鼠標在上面時放大圖片 */
.relax_data:hover .relax_img,
.study_data:hover .study_img,
.cat_dog_data:hover .cat_dog_img {
  background-size: 120%;
}

/* 鼠標在上面時字體轉顔色 */
.relax_data:hover .relax_name,
.study_data:hover .study_name {
  color: aqua;
}

/* ABOUT */
/* ABOUT頁面的高度 */

/* 關於頁面的文字居中 */
#about-content {
  text-align: center;
}

/* 關於頁面的字體格式化 */
#about-content #copyright {
  font-weight: lighter;
  font-size: small;
  margin-top: 150px;
  margin-bottom: 150px;
}

#about-content p {
  margin: 100px 0 100px 0;
}

/* 關於頁面的h1字體格式化 */
#about-content>a {
  font-weight: bold;
  font-size: large;
  text-decoration: underline;
}

/* 關於頁面的LOGO */
#big-logo {
  height: 300px;
  margin: 0 auto;
  background-image: url(../img/SOURCE/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* read more button */
.read-more {
  text-align: center;
  display: block;
  margin: 50px;
}

/* read more button 文字的樣式 */
.read-more>a {
  background-color: black;
  font-weight: bold;
  padding: 10px;
}

/* 音頻播放 */
audio {
  position: fixed;
  bottom: 2vh;
  left: 1%;
}

#bg2 {
  width: 100%;
  height: 100vh;
  background-image: url(../img/SOURCE/bg.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}



/* 適用於平板的寬度樣式 */
@media only screen and (max-width: 1024px) {
  #sidebarbg {
    width: 320px;
  }

  #relax-list>a,
  #study-list>a {
    width: 160px;
    height: 200px;
  }

  .relax_img,
  .study_img {
    width: 160px;
    height: 160px;
  }

  .relax_name,
  .study_name {
    font-size: 15px;
  }

  audio {
    display: none;
  }
}

/* 適用於手機的寬度樣式 */
@media only screen and (max-width: 800px) {
  #sidebarbg {
    display: none;
  }

  header {
    display: none;
    height: 100vh;
    position: fixed;
    z-index: 2;
  }

  #menu-on {
    display: block;
  }

  #menu-off {
    display: none;
  }

  .header-icon {
    display: none;
  }

  #web-title {
    bottom: 45vh;
  }

  #web-title h1 {
    font-size: 60px;
  }
  
  #web-title p {
    font-size: 15px;
  }

  header ul {
    flex-direction: column;
    margin-top: 10vh;
    text-align: center;
  }

  .btn-active {
    color: rgba(53, 53, 53, 0.911);
    background-color: rgb(255, 255, 255);
  }

  .btn-active:hover {
    background-color: rgb(255, 255, 255);
    color: rgba(53, 53, 53, 0.911);
  }

  #relax-list>a,
  #study-list>a {
    width: 100%;
    height: 260px;
  }

  #cat_dog-list>a {
    width: 100%;
  }

  .relax_img,
  .study_img {
    width: 100%;
    height: 160px;
  }

  .cat_dog_img {
    height: 310px;
  }

  #time_line td:nth-child(1) {
    font-size: 15px;
  }

  #time_line td:nth-child(2) {
    font-size: 12px;
  }

  #big-logo {
    height: 150px;
  }

}